*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.container-RC{
    width: 100%;
    height: 160vh;
    background-color: #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content-RC{
    width: 100%;
    max-width: 450px;
    background-color: #2C2F35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
.form-content-RC h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    position: relative;
}
.form-content-RC h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #04BD7D;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field-RC{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.input-field-RC-2{
    background-color: #515966;
    margin: 15px 0;
    padding: 18px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.input-field-RC-3{
    background-color: #515966;
    margin: 15px 0;
    padding: 18px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.input-field-RC-3 input{
    margin-left: 55px;
    width: 15px;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #FFFFFF;
}
input::placeholder{
    color: #FFFFFF;
}
.input-field-RC i{
    margin-left: 15px;
    color: #04BD7D;
}
.input-field-RC-2 i{
    color: #04BD7D;
}
.input-field-RC-3 i{
    margin-left: -3px;
    color: #04BD7D;
}
form p{
    color: #FFFFFF;
    text-align: left;
    font-size: 13px;
}
form p a{
    color: #04BD7D;
    margin-left: 5px;
}
.btn-field-RC{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}
.btn-field-RC button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: #04BD7D;
    color: #FFFFFF;
    height: 55px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn-field-RC input{
    flex-basis: 48%;
    font-size: 16px;
    background-color: #04BD7D;
    color: #FFFFFF;
    height: 55px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn-field-RC a{
    text-decoration: none;
    color: #FFFFFF;
}
.input-group-RC{
    height: 250px;
}
.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 20px;
}
.select-box{
    margin-left: 15px;
    padding: 0 2px 0 0;
    border: none;
    appearance: none;
    width: 100%;
    color: white;
    background-color: #515966;
}
.select-container .icon-container{
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04BD7D;
}
.icon-container i{
    font-size: 30px;
    color: #FFFFFF;
}
.alerta{
    text-align: center;
    color: red;
}
.success{
    text-align: center;
    color: green;
}
