:root { /* variable-- paleta de colores */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

}
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para boxmodel */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);/* Degradado */
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem; /* ojo ponemos max para que sea mas fluido */
    margin: 0 auto;
}
/* Navegacion principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;/* columna */
    justify-content: space-evenly;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;/* fila */
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
/* Diseño y Desarrollo */
.hero{
    background-image: url(/img/mascota.jpg);
    background-repeat: no-repeat; /* por defecto todas las imagenes se repiten */
    background-size: cover; /* va a llenar todo  */
    height: 450px;
    position: relative; /* el padre siempre debe tener posicion relativa */
}
.contenido-hero{
    position: absolute;
    /* para hacer la sombra */
    background-color: rgba(0, 0, 0, 0.5); /* Sintaxis anterior */ /* para hacer el degradado de la imagen */
    /* background-color: rgba(0 0 0 / 50%); sintaxis nueva */ 
    width: 100%;
    height: 100%;

    /* código que nos permite alinear vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* alinear verticalmente */
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    /* alineacion vertical */
    align-items: flex-end;
}
/* boton ce contactar */
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;/* para que el texto sea en mayuscula */
    font-weight: bold; /* para que sea en negrita */
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 480px) {
    .boton{
        width:auto; /* auto para que se resetee los valores */
    }
}

/* Utilidades - parte de contactanos*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}

/* Main */
.sombra{
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
}
/* Scroll Snap */
/* .servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

/* Mis servicios */
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ; /* creamos 3 columnas - 3 fracciones - 1fr = 33.3% - repite 3veces fr repeat(3, 1fr)*/
        column-gap: 5rem;
    }
}

/* Contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* utilizar el valor mas pequeño */
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%; /* opciones: 1fr 1fr o repeat(2, 1fr) */
         grid-template-rows: auto auto 20rem;
        column-gap: 1rem;  /* separacion decolumnas */
    }
    .campo:nth-child(3), 
    .campo:nth-child(4){  
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 17rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.footer{
    text-align: center;
}
