.background1-left-column{
    background: linear-gradient(180deg,#21c8f6,#637bff);
}
.consulta-body{
    background: #c8e8f1;
    font-family: Arial, Helvetica, sans-serif;
}
.consulta-container{
    display: flex;
    justify-content: center;
    height: 83vh;
    align-items: center;
}
.consulta-card{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 50rem;
    height: 40rem;
}
.consulta-card h6{
    opacity: 0.6;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.consulta-card h2{
    letter-spacing: .1rem;
    margin: 1rem 0;
    color: rgb(68, 66, 66);
}
.left-column{
    color: #fff;
    padding: 2rem;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left-column h2{
    color: #fff;
}
.left-column i{
    font-size: 5rem;
}
.right-column{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.right-column p{
    font-size: .9rem;
    color: rgb(68, 66, 66);
}
.button{
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    color: #fff;
    font-size: 1.2rem;
    padding: .8rem 1.5rem;
    letter-spacing: .1rem;
    align-self: flex-end;
}
.right-column a:hover{
    color: black;
}
@media(max-width: 1300px){
    .consulta-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}